
*.rpt
*.summary
*.smsg
*.done
*.dtb
*.jdi
*.pin
*.sld
*.sof
*.sopcinfo
*.rbf
*.o
*.bin
*.axf
*.img
*.qws
*.log
*.donotuse.dts
hwlib
bare_metal_example
sw/01_bare_metal_example/preloader/*
qsys_headers
DE0_HPS_Example/
c5_pin_model_dump.txt
db/
hps_isw_handoff*
hps_sdram_p0_summary.csv
incremental_db/
