
*.rpt
*.summary
*.smsg
*.done
*.dtb
*.dts
*.jdi
*.pin
*.sld
*.sof
*.sopcinfo
*.rbf
*.o
*.bin
*.axf
*.img
bare_metal_example
sw/01_bare_metal_example/preloader/*
qsys_headers
DE0_HSP_Example/
c5_pin_model_dump.txt
db/
hps_isw_handoff/
hps_sdram_p0_summary.csv
incremental_db/
